.aboutTwittler {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
}

.aboutTwittler__container {
  /* border-bottom: 1px solid var(--main-border-color); */
  margin-bottom: 0.5rem;
}

.aboutTwittler__wrapper {
  height: 180px;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
  align-items: center;
  color : white;
  background-color: var(--about-component-color);
}

.aboutTwittler__detail {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.aboutTwittler__detail > .aboutTwittler__detailName {
  font-size: 2rem;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.704);
}

.aboutTwittler__content {
  flex: 1 0 80vh;
  /* border: 2px solid var(--about-component-color); */
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(255, 255, 255, 0.743);
}

.aboutTwittler__content::-webkit-scrollbar {
  width: 15px;
}

.aboutTwittler__content::-webkit-scrollbar-thumb {
  background-color: rgb(32, 6, 19);
  border-radius: 80px;
}
.aboutTwittler__content::-webkit-scrollbar-track {
  background-color: rgba(128, 128, 128, 0);
}






.aboutTwittler__content > .fas {
  color:#24a23180;
  margin: 30px 0 10px 0;
  font-size: 5rem;
  /* color: var(--default-text-color); */
}
