* {
  box-sizing: border-box;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

:root {
  --main-border-color: var(--gray-100); /*#f0f0f0*/
  --point-color: var(--coz-purple-600); /*#452cdd*/
  --point-color-tint: var(--coz-purple-400); /*#a296ee*/
  --default-text-color: var(--gray-900); /*#141414*/
  --sub-text-color: var(--gray-700); /*#5c5c5c*/
  --bold-text-color: black;
  --button-text-color: white;
  --button-color: var(--coz-blue-600); /*#295ce0*/
  --button-hover-color: var(--coz-blue-500); /*#5e85e8*/
  --shade-color: var(--gray-200); /*#e6e6e6*/
  --mypage-component-color: #410c1f86;
  --about-component-color: #410c1f86;
  --tweets-component-color: #410c1f86;
}

#root {
  display: flex;
  align-items:flex-end;
  justify-content: center;
}

body {
  background-image: url("tweets_backbround.jpg");

  background-size: cover;

  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
  border: 0;
}

button,
input {
  overflow: visible; /* 1 */
  border-radius: 2px;
}

button {
  background-color: var(--button-color);
  color: var(--button-text-color);
}

button:hover {
  cursor: pointer;
}

textarea {
  overflow: auto;
  resize: none;
  margin-top: 4px;
  border-radius: 2px;
}

.App {
  height: 1000px;
  display: flex;
  flex-direction: column;
  /* min-height: 100%; */
  border-radius: 18px;
  overflow: hidden;
  margin-bottom: 100px;
}

footer {
  background-color: rgba(0, 0, 0, 0.444);
  position: relative;
  flex: 0 0 1rem;
  padding: 0.3rem;
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-600);
  text-align: right;
  border: 2px solid var(--footer-component-color);
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 640px;
  flex: 1 0 0;
}

.sidebar {
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.533);
  display: flex;
  flex-direction: column;

}

.far,
.fas {
  font-size: 2rem;
  color: var(--default-text-color);
  padding: 1.3rem;
  cursor: pointer;
}

.fa-comment-dots, 
.fa-question-circle, 
.fa-user  {
  color: #df89a1;
}

.features {
  background-color: rgba(0, 0, 0, 0.533);
  height: 1000px;
  width: 564px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--main-border-color); */
  /* border-radius: 25px; */
  overflow: hidden;
  flex: 1 0 0;
}

#logo {
  position: absolute;
  left: 12px;
  top: 4px;
  height: 22px;
}

.Title {
  color: rgb(188, 100, 151);
  font-size: 120px;
  font-family: 'Times New Roman', Times, serif;

}


